.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-bottom: 150px;
}

.imagen {
  width: 400px;
  border-radius: 50%;
}

.label {
  font-family: "Montserrat";
  font-size: 25px;
}
.input {
  font-family: "Montserrat";
  font-size: 20px;
  margin-bottom: 10px;
}

.button {
  background-color: blueviolet;
  font-family: "Montserrat";
  font-size: 25px;
  color: white;
  width: 150px;
}
.button:hover {
  transition: 0.3s ease;
  background-color: rgb(191, 129, 248);
  color: black;
  font-weight: bold;
}
/* 
.username {
  border: solid red 2px;
  border-radius: 20px;
} */

.password {
  border: solid red 2px;
  border-radius: 20px;
}

.warning {
  border: solid red 2px;
  border-radius: 20px;
  font-family: "montserrat";
}