* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../public/sombrasdel-anochecer-como-fondo-de-color-wiy2ervabybmkkb4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 1600px) {
  body {
    background-size: auto;
  }
}
